version: "3.9"

services:
  api:
    build: .
    ports:
      - "4001:4001"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
